* {
    margin: 0;
}

header {
    font-family: "Roboto", sans-serif;
}

main {
    font-family: "Roboto", sans-serif;
}

footer {
    font-family: "Roboto", sans-serif;
    color: #21243D;
}

body {
    background-color: white;
}

.headerItens {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}


.headerList {
    display: inline-flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.headerList li {
    margin-right: 35px;
}


a {
    text-decoration: none;
    color: black;
}

.menu {
    display: none;
}

.sobre {
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    margin: 120px 0 70px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-primeiraInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.container-primeiraInfoMobile {
    display: none;
}

.container-primeiraInfo h1 {
    font-size: 44px;
    white-space: pre-line;
    color: #21243D;
}

.container-primeiraInfo p {
    margin: 40px 0px;
    white-space: pre-line;
    font-size: 16px;
    color: #21243D;
}

.button-download {
    background-color: #FF6464;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    width: 180px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}

.button-download:hover {
    background-color: #21243D;
    cursor: pointer;
}


.post {
    background-color: #EDF7FA;
    height: 396px;
    width: 100%;
}

.container-post {
    align-items: center;
    margin: auto;
    width: 80%;
}

.quadrados {
    display: flex;
}

.quadrado1,
.quadrado2 {
    width: 500px;
    height: 315px;
    background-color: white;
    border: none;
    white-space: pre-line;
    margin-right: 20px;
}

.quadrado1 h2,
.quadrado2 h2 {
    font-size: 26px;
}

.quadrado1 p,
.quadrado2 p {
    font-size: 18px;
}

.textMobile {
    display: none;
}



.espacamento {
    margin: 0 20px 0 20px;
}

.TextBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    float: none;
}

#RecentPosts {
    font-size: 22px;
    padding: 15px 0;
}

.destaque {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-work {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.work {
    display: inline-flex;
    width: 80%;
    height: auto;
    padding: 14px 0 14px 0;
    justify-content: center;


}

#FeaturedWorks {
    font-size: 22px;
    padding: 14px 0;
    color: #21243D;
}

.year {
    background-color: #142850;
    color: white;
    display: flex;
    width: 60px;
    height: 25px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}

#year {
    margin-right: 20px;
}

.yearText {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.description {
    display: inline-flex;
    padding-left: 30px;
    flex-direction: column;

}

#legendWork {
    display: flex;
}

.description h2 {
    position: relative;
}

.description p {
    color: #8695A4;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 100px 0 50px 0;
}

.rodapeUl {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.rodapeCopyright {
    display: flex;
    justify-content: center;
    color: #21243D;
    font-size: 14px;
    margin-top: 10px;
}

.siteIcon {
    height: 30px;
    width: 30px;
}

.rodapeLi {
    display: flex;
    /* padding-left: 10px; */
    margin-right: 30px;
}

.footerAll {
    display: flex;
    align-items: center;
    flex-direction: column;
}

hr {
    height: 1px;
    color: #E0E0E0;
    margin: 15px 0px;
}

@media screen and (max-width: 1020px) {


    .headerItens {
        display: block;
        justify-content: flex-end;
        padding: 10px;
    }

    .menu {
        display: flex;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        flex-direction: end;
    }

    .headerList {
        display: none;
        list-style: none;
        font-size: 20px;
        font-weight: bold;
    }

    .headerList li {
        margin-right: 35px;
    }


    a {
        text-decoration: none;
        color: black;
    }

    .container-primeiraImg {
        width: 243px;
        height: 243px;
        justify-content: center;
        display: flex;
        margin-top: 20px;
    }

    .sobre {
        display: flex;
        margin: auto;
        width: 388px;
        height: auto;
        margin: 30px 0 70px 0;
        align-items: center;
        justify-content: center;
    }

    .container-primeiraInfo {
        display: none;
    }

    .container-primeiraInfoMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 30px;
        text-align: center;
    }

    .container-primeiraInfoMobile h1 {
        font-size: 44px;
        color: #21243D;
    }

    .container-primeiraInfoMobile p {
        margin: 40px 0px;
        white-space: pre-line;
        font-size: 16px;
        color: #21243D;
    }

    .textoMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descMobile {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .button-download {
        background-color: #FF6464;
        color: white;
        cursor: pointer;
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        width: 180px;
        height: 50px;
    }

    #button-download {
        display: inline-flex;
        align-items: center;
    }

    .post {
        background-color: #EDF7FA;
        height: 800px;
        width: 100%;
    }

    .container-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 80%;
    }

    .quadrados {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }

    .quadrado1,
    .quadrado2 {
        width: 340px;
        height: 390px;
        background-color: white;
        border: none;
        white-space: pre-line;
        margin-top: 15px;
        margin-right: 0px;
    }

    .quadrado1 h2,
    .quadrado2 h2 {
        font-size: 26px;
    }

    .quadrado1 p,
    .quadrado2 p {
        font-size: 18px;
    }

    .espacamento {
        margin: 0;
    }

    .TextBox {
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        float: none;
        white-space: pre-line;
    }

    .TextBox h2{
        font-size: 22px;
    }

    .TextBox p {
        font-weight: bold;
        color: black;
    }

    #RecentPosts {
        font-size: 22px;
        padding: 15px 0;
        font-weight: bold;
        color: #21243D;
    }


    .destaque,
    .post {
        margin: o;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }


    .work {
        display: inline-flex;
        width: auto;
        height: auto;
        padding: 14px 0 14px 0;
        justify-content: center;
        flex-direction: column;
        width: 80%;
    }

    .workImg {
        width: 100%;
    }

    .container-work {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-work h2{
        padding: 10px;
        text-align: center;
    }


    #FeaturedWorks {
        font-size: 22px;
        padding: 14px 0;
        font-weight: bold;
        color: #21243D;
    }

    .year {
        background-color: #142850;
        color: white;
        display: flex;
        width: 60px;
        height: 25px;
        border-radius: 16px;
        justify-content: center;
    }

    #year {
        margin-right: 0;
    }

    .yearText {
        display: flex;
        align-items: center;
        padding: 20px 0;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .description {
        display: inline-flex;
        padding: 0;
        flex-direction: column;
    }

    .description h2 {
        font-size: 24px;
    }

    #legendWork {
        display: flex;
    }

    .description h2 {
        position: relative;
    }

    .description p {
        color: #8695A4;
    }


    .rodape {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 50px 0 50px 0;
        background-color: #EDF7FA;
    }

    .rodapeUl {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

    }

    .rodapeCopyright {
        display: flex;
        justify-content: center;
        color: #21243D;
        font-size: 14px;
        margin-top: 10px;
    }

    .siteIcon {
        height: 30px;
        width: 30px;
    }

    .rodapeLi {
        display: flex;
        /* padding-left: 10px; */
        margin-right: 30px;
    }

    .footerAll {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}